@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Nunito Sans", sans-serif;
}

:root {
    --Dark-Blue--Dark-Mode-Elements: hsl(209, 23%, 22%);
    --Very-Dark-Blue--Dark-Mode-Background: hsl(207, 26%, 17%);
    --White--Dark-Mode-Text--Light-Mode-Elements: hsl(0, 0%, 100%);

    --Very-Dark-Blue--Light-Mode-Text: hsl(200, 15%, 8%);
    --Dark-Gray--Light-Mode-Input: hsl(0, 0%, 52%);
    --Very-Light-Gray--Light-Mode-Background: hsl(0, 0%, 98%);

    --font-size-small: clamp(14px, 1vw + .5rem, 18px);
    --font-size-medium: clamp(18px, 1vw + 1rem, 24px);

    --global-padding: 1rem;
    --global-padding-desktop: 4rem;
    --box-shadow: rgba(8, 5, 5, 0.301);
}

.main-container::-webkit-scrollbar {
    display: none;
}

.countries-container::-webkit-scrollbar {
    display: none;
}

.countries-list-container::-webkit-scrollbar {
    display: none;
}

.detail-container::-webkit-scrollbar {
    display: none;
}

.dark-mode {
    .main-container {

        background-color: var(--Very-Dark-Blue--Dark-Mode-Background);

        .header-container {
            background-color: var(--Dark-Blue--Dark-Mode-Elements);
            color: var(--White--Dark-Mode-Text--Light-Mode-Elements);

            button {
                color: var(--White--Dark-Mode-Text--Light-Mode-Elements);
            }
        }

        .countries-container {
            color: var(--White--Dark-Mode-Text--Light-Mode-Elements);

            .countries-filter-container {

                .countries-search-container {
                    background-color: var(--Dark-Blue--Dark-Mode-Elements);

                    input {
                        color: var(--White--Dark-Mode-Text--Light-Mode-Elements);
                    }

                    input::placeholder {
                        color: var(--White--Dark-Mode-Text--Light-Mode-Elements);
                    }
                }

                .countries-dropdown-menu-container {

                    .countries-dropdown-menu-btn {
                        background-color: var(--Dark-Blue--Dark-Mode-Elements);
                        color: var(--White--Dark-Mode-Text--Light-Mode-Elements);
                    }

                    .countries-dropdown-menu-list {
                        background-color: var(--Dark-Blue--Dark-Mode-Elements);
                        color: var(--White--Dark-Mode-Text--Light-Mode-Elements);
                    }
                }
            }

        }

        .countries-list-container {
            .countries-list-card {
                background-color: var(--Dark-Blue--Dark-Mode-Elements);
            }
        }

        .detail-container {
            background-color: var(--Very-Dark-Blue--Dark-Mode-Background);

            button {
                background-color: var(--Dark-Blue--Dark-Mode-Elements);
                color: var(--White--Dark-MODE-TEXT--Light-Mode-Elements);
            }

            .detail-section-3 {
                ul {
                    div {
                        background-color: var(--Dark-Blue--Dark-Mode-Elements);
                    }
                }
            }
        }
    }

}

.main-container {
    height: 100dvh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-color: var(--Very-Light-Gray--Light-Mode-Background);
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.header-container {
    background-color: var(--White--Dark-Mode-Text--Light-Mode-Elements);
    color: var(--Very-Dark-Blue--Light-Mode-Text);
    height: 12vh;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 0 var(--global-padding);
    box-shadow: 0 0 7px 0 var(--box-shadow);
    z-index: 20;

    h1 {
        font-size: var(--font-size-small);
        font-weight: 800;
    }

    button {
        display: flex;
        align-items: center;
        gap: .4rem;
        background-color: transparent;
        border: none;
        font-weight: 600;
        cursor: pointer;

        img {
            aspect-ratio: 1;
            width: 15px;
        }
    }
}

.countries-container {
    display: flex;
    position: relative;
    flex-direction: column;
    overflow-y: scroll;
    height: 100%;
    width: 100%;
    color: var(--Very-Dark-Blue--Light-Mode-Text);
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */

    .countries-filter-container {
        display: flex;
        justify-content: space-between;
        padding: 1.5rem var(--global-padding);
        flex-wrap: wrap;
        row-gap: 2rem;
        width: 100%;

        .countries-search-container {
            box-shadow: 0px 0 10px 0 var(--box-shadow);
            background-color: var(--White--Dark-Mode-Text--Light-Mode-Elements);
            padding: 1rem 2rem;
            width: min(100%, max(25rem));
            display: flex;
            align-items: center;
            gap: 1rem;
            border-radius: 5px;

            img {
                aspect-ratio: 1;
                width: 18px;
                background-color: none;
            }

            input {
                border: none;
                background-color: transparent;
            }

            input:focus-within {
                outline: none;
            }

            input::placeholder {
                color: var(--Dark-Gray--Light-Mode-Input);
            }
        }

        .countries-dropdown-menu-container {
            position: relative;

            .countries-dropdown-menu-btn[data-dropdown="true"] {
                img {
                    transform: rotate(180deg);
                    transition: ease-in-out 0.3s;
                }
            }

            .countries-dropdown-menu-btn {
                box-shadow: 0px 0 10px 0 var(--box-shadow);
                border-radius: 5px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                background-color: var(--White--Dark-Mode-Text--Light-Mode-Elements);
                border: none;
                font-weight: 600;
                width: 12rem;
                padding: 1rem;
                cursor: pointer;

                img {
                    aspect-ratio: 1;
                    width: 15px;
                    transition: ease-in-out 0.3s;
                    transform: rotate(0deg);
                }
            }


            .countries-dropdown-menu-list {
                display: flex;
                flex-direction: column;
                position: absolute;
                background-color: var(--White--Dark-Mode-Text--Light-Mode-Elements);
                border-radius: 5px;
                padding: 1rem;
                margin-top: .5rem;
                gap: .5rem;
                width: 12rem;
                z-index: 10;
                font-size: var(--font-size-small);
                box-shadow: 0px 0 25px 0 var(--box-shadow);

                input {
                    display: none;
                }

                label {
                    cursor: pointer;
                }
            }
        }
    }

    .countries-list-container {
        overflow-y: scroll;
        margin-top: 2rem;
        margin: 0 var(--global-padding);
        padding: 1rem 0;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 3rem;
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */

        .countries-list-card {
            width: 18rem;
            border-radius: 5px;
            box-shadow: 0px 0 6px 0 var(--box-shadow);
            background-color: var(--White--Dark-Mode-Text--Light-Mode-Elements);
            cursor: pointer;

            .countries-list-card-image-container {
                width: 100%;
                height: 10rem;
                overflow: hidden;
                border-radius: 5px;

                img {
                    object-fit: fill;
                    width: 100%;
                    height: 100%;
                }
            }

            .countries-list-card-info-container {
                padding: 2rem;

                h1 {
                    font-size: var(--font-size-medium);
                    font-weight: 800;
                    margin-bottom: 1rem;
                }

                p {
                    font-size: var(--font-size-small);
                    font-weight: 300;
                    margin-bottom: .5rem;

                    span {
                        font-weight: 600;
                    }
                }
            }
        }
    }
}

.detail-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    background-color: var(--Very-Light-Gray--Light-Mode-Background);
    padding: var(--global-padding);
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */

    button {
        box-shadow: 0px 0 5px 0 var(--box-shadow);
        border-radius: 3px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: transparent;
        border: none;
        font-weight: 600;
        width: 5rem;
        padding: .3rem 1rem;
        margin: 1rem 0;
        cursor: pointer;
        margin-right: auto;

        img {
            aspect-ratio: 1;
            width: 15px;
        }
    }

    h1 {
        font-size: var(--font-size-medium);
        font-weight: 800;
    }

    span {
        font-weight: 800;
    }

    p {
        font-size: var(--font-size-small);
        text-wrap: balance;
    }

    .detail-section-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: min(100%, max(55rem));
        gap: 5rem;

        img {
            width: min(100%, max(18rem));
            height: min-content;
            object-fit: fill;
            margin: auto;
        }

        .detail-section-country-name {
            width: 100%;
        }

        .detail-section-1-2-3-container {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            gap: min(1rem, max(10rem));

            .detail-section-1,
            .detail-section-2 {
                display: flex;
                width: min(100%, max(16rem));
                flex-direction: column;
                gap: .5rem;
            }

            .detail-section-3 {
                display: flex;
                flex-direction: column;

                width: 100%;
                gap: 1rem;

                h1 {
                    font-size: var(--font-size-small);
                    white-space: nowrap;
                }

                ul {
                    display: flex;
                    gap: .5rem;
                    text-decoration: none;
                    list-style: none;
                    overflow-x: scroll;
                    width: min(min-content, max(100%));

                    div {
                        height: max-content;
                        padding: .3rem .7rem;
                        box-shadow: 0px 0 6px 0 var(--box-shadow);
                        border: 1px solid var(--box-shadow);
                        border-radius: 5px;
                    }
                }
            }
        }
    }

    @media only screen and (min-width: 768px) {
        .detail-section-container {
            flex-direction: row;
            justify-content: center;

            img {
                margin: 0;
            }

            .detail-section-1-2-3-container {
                width: 50%;

                .detail-section-3 {
                    width: 23rem;
                    flex-direction: row;
                }
            }
        }
    }

}

@media only screen and (min-width: 1024px) {
    .header-container {
        padding: 0 var(--global-padding-desktop);
    }

    .countries-container {
        .countries-filter-container {
            padding: 1.5rem var(--global-padding-desktop);
        }

        .countries-list-container {
            margin: 0 var(--global-padding-desktop);
        }
    }

    .detail-container {
        padding: 2rem var(--global-padding-desktop);

        .detail-section-container {
            justify-content: center;

            .detail-section-1-2-3-container {
                width: 100%;

                .detail-section-3 {
                    width: 33rem;
                }
            }
        }
    }
}